<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/headTag :: head(#{${title}})}"></head>
<body>
<div class="container">
    <header th:replace="~{fragments/header}"></header>
    <div class="row mt-2">
        <div class="col-5 mx-auto border rounded p-3">
            <h2 class="text-center" th:text="#{token.registration.resendEmail.title}">Email resend</h2>
            <p th:text="#{token.registration.resendEmail.text}">Text</p>
        </div>
    </div>
</div>
</body>
</html>
