.custom-navbar {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.custom-navbar-dropdown {
    border: 2px solid white;
    border-radius: 5px;
}

.user-button {
    cursor: pointer;
}