<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/headTag :: head(#{token.forgotPassword.title})}"></head>
<body>
<div class="container">
    <header th:replace="~{fragments/header}"></header>
    <div class="row mt-2">
        <div class="col-5 mx-auto border rounded p-3">
            <h2 class="text-center" th:text="#{token.forgotPassword.title}">Forgot password</h2>
            <p class="text-center" th:text="#{token.forgotPassword.text}">Enter your email to reset your password.</p>
            <form method="post" th:action="@{/forgot-password}" th:object="${passwordForgotTo}">
                <input th:replace="~{fragments/inputField :: input('userTo.email', 'email', 'text')}"/>
                <input th:replace="~{fragments/inputField :: input('userTo.confirmEmail', 'confirmEmail', 'text')}"/>
                <input type="submit" class="btn btn-secondary btn-block" th:value="#{common.submit}"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>