<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/headTag :: head(#{token.forgotPassword.title})}"></head>
<body>
<div class="container">
    <header th:replace="~{fragments/header}"></header>
    <div class="row mt-2">
        <div class="col-5 mx-auto border rounded p-3">
            <h2 class="text-center" th:text="#{token.resetPassword.title}">Password reset</h2>
            <form method="post" th:action="@{/profile/reset-password}" th:object="${passwordResetTo}">
                <input th:replace="~{fragments/inputField :: input('userTo.password', 'password', 'password')}"/>
                <input th:replace="~{fragments/inputField :: input('userTo.confirmPassword', 'confirmPassword', 'password')}"/>
                <input type="hidden" name="token" th:value="${param.token}"/>
                <input class="btn btn-block btn-secondary" type="submit" th:value="#{common.submit}"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>