<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/headTag :: head(#{registration.mail.subject})}"></head>
<body>
<div class="container">
    <div class="row mt-2">
        <div class="col-5 mx-auto border rounded p-3">
            <h2 class="text-center" th:text="#{registration.mail.subject}">Email confirmation</h2>
            <p class="text-center" th:text="#{registration.text}">Text</p>
            <button  class="btn btn-secondary btn-block"
                     th:text="#{userTo.login}">User Login
            </button>
        </div>
    </div>
</div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
<script th:src="@{/resources/script.js}" defer></script>
</body>
</html>
