<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/headTag :: head('Registration')}"></head>
<body>
<div class="container">
    <div class="row mt-2">
        <div class="col-5 mx-auto border rounded p-3">
            <div id="loginForm">
                <h2 class="text-center">Login</h2>
                <form th:action="@{login}" th:object="${userTo}">
                    <input th:replace="~{fragments/inputField :: input('Email', 'email', 'email')}"/>
                    <input th:replace="~{fragments/inputField :: input('Password', 'password', 'password')}"/>
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </form>
                <button class="btn btn-danger btn-primary btn-block mt-1" onclick="showRegister()">Registration</button>
            </div>

            <div hidden id="registrationForm">
                <h2 class="text-center">Registration</h2>
                <form th:action="@{register}" th:object="${userTo}">
                    <input th:replace="~{fragments/inputField :: input('Name', 'name', 'text')}"/>
                    <input th:replace="~{fragments/inputField :: input('Email', 'email', 'email')}"/>
                    <input th:replace="~{fragments/inputField :: input('Password', 'password', 'password')}"/>
                    <button type="submit" class="btn btn-primary btn-block">Register</button>
                </form>
                <button onclick="showLogin()" class="btn btn-danger btn-primary btn-block mt-1">Login
                </button>
            </div>
        </div>
    </div>
</div>
<script th:src="@{resources/script.js}"></script>
</body>
</html>