<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/headTag :: head('Profile')}"></head>
<body>
<script src='https://www.google.com/recaptcha/api.js'></script>
<div class="container">
    <div class="row mt-2">
        <div class="col-5 mx-auto border rounded p-3">
            <h2 class="text-center" th:text="#{userTo.update}">Sign up</h2>
            <div th:if="${captchaError}" class="alert alert-danger">
                Please, confirm captcha.
            </div>
            <form name="registrationForm" th:action="@{/profile}" th:object="${userTo}" method="post">
                <input th:replace="~{fragments/inputField :: input('userTo.name', 'name', 'text')}"/>
                <input th:replace="~{fragments/inputField :: input('userTo.email', 'email', 'email')}"/>
                <button type="submit" class="btn btn-primary btn-block" th:text="#{common.update}">
                    Update
                </button>
            </form>
            <form id="logoutForm" th:action="@{/profile/logout}" method="post">
                <button type="submit" class="btn btn-danger btn-block mt-1" th:text="#{common.logout}">
                    Logout
                </button>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
<script th:src="@{/resources/script.js}" defer></script>
</body>
</html>
