<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
    <span th:text="${user.name}">Username</span>
    <span th:text="${user.email}">user@gmail.com</span>
    <span th:text="${user.enabled}">true</span>
    <span th:text="${user.registered}">2019-09-04 22:04:09.15078</span>
    <span th:text="${user.roles}">ROLE_ADMIN</span>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout">
    </form>
</body>
</html>
