<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<table border="1" cellpadding="8" cellspacing="0">
    <thead>
    <tr>
        <td>Name</td>
        <td>Email</td>
        <td>Enabled</td>
        <td>Registered</td>
        <td>Roles</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.name}">Username</td>
        <td th:text="${user.email}">user@gmail.com</td>
        <td th:text="${user.enabled}">true</td>
        <td th:text="${user.registered}">2019-09-04 22:04:09.15078</td>
        <td th:text="${user.roles}">ROLE_ADMIN</td>
    </tr>
    </tbody>
</table>
</body>
</html>
