<head th:fragment="head(title)" xmlns:th="http://www.thymeleaf.org">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" th:href="@{/resources/icon.png}">
    <link rel="stylesheet" th:href="@{/resources/style.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-social/bootstrap-social.css}"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.js}" defer></script>
    <script th:src="@{/resources/script.js}" defer></script>
    <title th:text="${title}">Title</title>
</head>